button:disabled {
  cursor: not-allowed;
}

li {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li > div {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  margin-left: 0.4rem;
}

.subtitle {
  color: #9bdeee;
  font-size: small;
  display: block;
}

p.done {
  color: #afee99;
  text-decoration: line-through;
  font-weight: 300;
  text-decoration-color: #98e27d;
}

button.outline {
  font-size: small;
  width: 5rem;
}

select {
  width: 40%;
}
.hidden {
  display: none;
}
